*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.body{
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}
.loading-title{
  font-family: 'Poppins', sans-serif;
  }
  .contact-btn{
    padding: 10px 20px;
    border: none;
    outline: none;
    background: rgb(55, 143, 194);
    color: whitesmoke;
  }
  .contact-btn:hover{
    padding: 10px 20px;
    border: none;
    outline: none;
    background: rgb(36, 156, 226);
    color: whitesmoke;
  }
  .car-background {
    background: url("../public/side-car.jpg") no-repeat center center;
    background-size: cover;  
    width: 100%;    
    overflow: hidden;
              /* Full width */
  }
  

  .btn-book {
   
    padding: 12px 30px;
    background: rgb(36, 156, 226);
    border: none;
    color: #fff;
    outline: none;
    border-radius: 10px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    transition: 0.3s ease;
  }

  .btn-book:hover {
    background: rgb(55, 143, 194);
    
  }

  /*  About Us*/
  .about-us{
    background: #000;
  }
  .about-h1 {
    position: relative;
    display: inline-block; }
  
  .about-h1::after {
    content: '';
    display: block;        /* allows width & height to work */
    width: 100%;           /* underline spans full width of text */
    height: 4px;           /* adjust thickness */
    background: rgb(55, 143, 194);
    margin-top: 6px;       /* space between text and line */
    border-radius:10px;    /* optional: rounded line */
  }

  /* car bike details */
  .car-details {
    background-color: rgb(55, 143, 194);
    color: #fff;               /* White text */
    border: none;              /* Remove border */
    padding: 10px 20px;        /* Add spacing */
    border-radius: 8px;        /* Rounded corners */
    font-size: 16px;           /* Readable font size */
    font-weight: 500;          /* Medium bold */
    cursor: pointer;           /* Pointer on hover */
    transition: all 0.3s ease; /* Smooth hover effect */
  }
  
  .car-details:hover {
    background-color: rgb(40, 120, 170); /* Slightly darker on hover */
    transform: scale(1.05);              /* Small zoom effect */
  }
  