/* .video-container{
  height: 100vh;
  width: 100vw;
  background: url('../public/wash.mp4');
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body{
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  }
  .contact-btn{
    padding: 10px 20px;
    border: none;
    outline: none;
    background: rgb(55, 143, 194);
    color: whitesmoke;
  }
  .contact-btn:hover{
    padding: 10px 20px;
    border: none;
    outline: none;
    background: rgb(36, 156, 226);
    color: whitesmoke;
  }
  .car-background {
    background: url("../public/side-car.jpg") no-repeat center center;
    background-size: cover;   /* Scales nicely */
    height: 100vh;            /* Full viewport height */
    width: 100%;              /* Full width */
  }
  
